// inspirated by Zurb's Foundation media mixins

// reassign to new variable so original will 
breakpoint($name, $modifier = null)

  // initial setup
  $names = keys($breakpoints)
  $sizes = values($breakpoints)
  $index = index($names, $name)
  $bpsLength = length($breakpoints)  
  $mediaQuery = ''  
  
  if $index is 0 or $index > 0
    // ONLY modifier
    if $modifier is 'only'
      $mediaQuery += 'screen and (min-width:'+ $sizes[$index] +')'
      if $index > 0 && $index < ($bpsLength - 1)
        $mediaQuery += ' and (max-width:'+ ($sizes[$index+1] - 1) +')'
      else if $index is 0 
        $mediaQuery = 'screen and (max-width:'+ ($sizes[$index+1] - 1) +')'
      else if $index is ($bpsLength - 1)
        $mediaQuery += 'screen and (min-width:'+ $sizes[$index] +')'  
        // error('Should not use `only` with the last breakpoint, because it is only by default in mobile-first grid');
    
    
    // DOWN (reverse) modifier
    else if $modifier is 'down'
      if $index < ($bpsLength - 1)
        $mediaQuery = 'screen and (max-width:'+ ($sizes[$index+1] - 1) +')'
        
      else if $index is ($bpsLength - 1)
        error('Should not use `down` with the last breakpoint, because it equal to non-media rule');
    
    
    // no modifier or bad/wrong modifier 
    else 
      $mediaQuery += 'screen and (min-width:'+ $sizes[$index] +')'

  else 
    if $modifier is 'down'
      $mediaQuery += 'screen and (max-width:'+ $name +')'
    else if type($modifier) is 'unit' or type($modifier) is 'string'
      $mediaQuery += 'screen and (min-width:'+ $name +') and (max-width:' + $modifier + ')'
    else 
      $mediaQuery += 'screen and (min-width:'+ $name +')'


  // print @media with contents
  @media $mediaQuery
    {block}
