@require '../App/styles/general-styles'

.container
  display flex
  flex-direction column
  padding-left 0 !important
  padding-right 0 !important


.description
  text-align center
  color #898989
  padding-left 30px
  padding-right 30px
  font-size 20px
  margin-bottom 30px
  +breakpoint(medium)
    margin-bottom 60px
    font-size 25px

.addTask
  margin 0 auto  
  max-width 550px
  width calc( 100% - 20px) 
  background-color #fbfbfb 
  text-align center
  box-shadow 1px 1px 0 0 #696969 
  outline none 
  border-radius 20px
  border none
  height 60px
  font-size 22px
  padding 15px
  line-height 30px
  +breakpoint(medium)
    height 90px
    font-size 40px
    padding 20px
    line-height 50px
  &:not(:last-child)
    margin-bottom 35px
  &::placeholder
    color $placeholderColor
  
  

.tasks
  display flex
  flex-direction column
  align-items stretch
  max-width 100%


/// SingleTask styles
.defaultTask 
  flex 0 0 auto
  padding 10px 10px
  display flex
  justify-content space-between
  max-width 100%
  overflow hidden
  +breakpoint(medium)
    padding 15px 30px
  
  &:not(:last-child)
    margin-bottom 10px
    +breakpoint(medium)
      margin-bottom 25px

.completedTask
  @extend .defaultTask
  background-color #d0e4aa 
  

.taskIndex 
  flex 0 0 auto
  border-radius 50%
  color #afafaf 
  border 2px solid #afafaf
  text-align center
  position relative
  height 36px
  width 36px
  margin-right 20px
  font-size 20px
  line-height 32px
  +breakpoint(medium)
    height 66px
    width 66px
    margin-right 36px
    font-size 48px
    line-height 60px
    border-width 3px 
  .completedTask & 
    color #eff9db
    border-color #2d2d2d 
    font-size 24px
    +breakpoint(medium)
      font-size 55px

.taskChecked
  position absolute
  top 50%
  left 50%
  transform translate(-50%, -50%)
  width 26px
  height 20px
  +breakpoint(medium)
    width 45px
    height 35px
  
.taskActions
  flex 0 0 auto
  margin-left 10px
  +breakpoint(medium)
    margin-left 30px
  button 
    width 20px
    height 20px
    line-height 20px
    +breakpoint(medium)
      width 30px
      height 30px
      line-height 30px
    img 
      display inline-block
      vertical-align middle
      width 100%
      
  

.taskContent
  flex 1 1 auto
  display flex
  flex-direction column
  align-items stretch
  max-width 67%

.taskName
  flex 0 0 auto
  width 100%
  white-space nowrap
  overflow hidden
  text-overflow ellipsis
  line-height 1.35
  color #2d2d2d 
  white-space nowrap
  text-overflow ellipsis
  overflow hidden 
  font-size 20px
  margin-bottom 3px
  max-width 100%
  margin-top -2px
  +breakpoint(medium)
    font-size 35px
  
.taskDescription
  flex 0 0 auto
  width 100%
  color #898989 
  line-height 1.35
  font-size 14px
  max-width 100%
  +breakpoint(medium)
    font-size 24px
  
.ownerIcon
  display inline-block
  text-align center
  width 30px
  height 30px
  line-height 30px
  margin 0 5px
  border-radius 50px
  border 1px solid #b9b9b9
  background-color #f6f6f6 
  align-items center 
  justify-content center 
  img 
    display inline-block
    vertical-align middle
    width 18px
    max-height 20px
    margin-top -4px