* {
  font-family: 'Verdana', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

body {
  padding: 0px 0px;
  color: #fff;
  min-width: 320px;
}

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 580px;
  width: 100%;
  margin: 0 auto;
  background-color: #6e76a2;
  height: 80px;
  padding: 2px;
  line-height: 50px;
}

.carousel > * {
  flex: 0 0 auto;
}
.carousel > *:not(:last-child) {
  margin-right: 10px;
}

.carousel__nav {
  background-position: 50% 50%;
  background-size: cover;
  height: 24px;
  width: 16px;
  cursor: pointer;
}

.carousel__nav_prev {
  background-image: url('../assets/svg/nav-prev.svg'); 
}
.carousel__nav_next {
  background-image: url('../assets/svg/nav-next.svg');  
}


.carousel__content {
  flex: 1 1 100% !important;
  justify-content: flex-start;
  max-width: 100%;
  overflow: hidden;
  position: relative;
}

.carousel__content:before, .carousel__content:after {
  display: inline-block;
  position: absolute;
  top: 0;
  width: 20px;
  height: 100%;
  content: "";
  z-index: 2;
}

.carousel__content:before {
  background-image: linear-gradient(to right, rgba(110,118,162,1) 0%, rgba(110,118,162,0) 100%);
  left: 0;
}
.carousel__content:after {
  background-image: linear-gradient(to left, rgba(110,118,162,1) 0%, rgba(110,118,162,0) 100%);
  right: 0;
}

.carousel__items-list {
  position: relative;
  /* left: -10px; */
  color: #fff;
  font-size: 15px;
  width: 9999px;
  white-space: nowrap;
  display: flex;
  padding: 0 10px;
  list-style: none;
  user-select: none;
}

.carousel__single-item {
  cursor: pointer;
  flex: 0 0 auto;
}
.carousel__single-item:not(:last-child) {
  margin-right: 15px;
}
.carousel__single-item.is-active {
  font-weight: 700;
}

.carousel__add-item {
  position: relative;
  border-radius: 50%;
  background-color: #fff;
  width: 50px;
  height: 50px;
}

.carousel__add-item:before, .carousel__add-item:after {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  content: "";
  transform: translate(-50%, -50%);
  display: block;
}
.carousel__add-item:before {
  background-color: #92c37c;
  border-radius: 50%;
  width: 29px;
  height: 29px;
}

.carousel__add-item:after {
  z-index: 2;
  width: 20px;
  height: 20px;
  background-image: url('../assets/svg/plus.svg');
}