@require '../App/styles/general-styles'

_container = '.container'

:global(.has-overlay) 
  overflow hidden

.overlayHidden 
  display none
  
.overlay 
  position fixed
  top 0
  left 0
  z-index 100
  width 100%
  height 100%
  display flex
  justify-content center 
  
  padding 20px
  overflow auto
  background-color rgba(130,130,130,.45)

.modalHidden
  display none
  
.modal 
  flex 0 0 auto
  max-width 100%
  background-color #fff 
  max-width 550px
  width 100%
  min-height 300px
  border-radius 20px
  padding 20px
  position relative
  box-shadow 2px 2px 2px 0 rgba(83,58,89,.3)
  align-self center 
  display flex
  align-items stretch
  +breakpoint(medium)
    padding 40px 20px
  > * 
    width 100%

.modalClose
  position absolute
  cursor pointer
  top -13px
  right -13px
  width 30px
  height 30px
  padding 0
  margin 0
  border 0
  // line-height 30px
  // background-color #dd3e3e 
  background-color #fff 
  border-radius 50%
  overflow hidden
  // line-height 30px
  display flex
  align-items center
  justify-content center
  img 
    flex 0 0 auto
    height 30px
    width 30px
    margin 0
  // img 
  //   flex 0 0 auto
  //   width 12px
  //   height 12px
  //   margin-left auto
  //   margin-right auto 
  //   display inline-block
  //   vertical-align middle
  
  +breakpoint(medium)
    top -32px
    right -32px
    width 84px
    height 84px
    img 
      // width 30px
      // height 30px
      width 84px
      height 84px
      

.modalBody 
  flex 0 0 auto
  display flex
  align-items stretch
  > * 
    flex 0 0 auto
    width 100%
    

.textModal
  display flex
  align-items center
  justify-content center 
  flex-direction column
  text-align center
  > *  
    flex 0 0 auto
    
.loginModal
  text-align center
  padding 40px 20px
  > * 
    &:not(:last-child)
      margin-bottom 50px

.loginOptions
  display flex
  flex-direction column
  align-items center
  > *
    flex 0 0 auto
    width 30px
    height 30px
    border-radius 50px
    border 1px solid #b9b9b9
    background-color #f6f6f6 
    display flex
    align-items center 
    justify-content center 
    &:not(:last-child)
      margin-bottom 10px
    img 
      flex 0 0 auto
      width 18px
      max-height 20px
      margin-left auto
      margin-right auto


.taskModal
  display flex
  width 100%
  flex-direction column
  > * 
    flex 0 0 auto

.taskEditRow
  width 100%    
  &:not(:last-child)
    margin-bottom 20px
  input, textarea 
    border 1px solid #454545
    padding 5px 15px
    height 30px
    display block
    width 100%
    +breakpoint(medium)
      height 60px
      padding-top 10px
      padding-bottom 10px
      
  input
    line-height 20px
    +breakpoint(medium)
      line-height 40px
      
  textarea 
    line-height 25px
    height 270px
  p
    text-align center
    &:not(:last-child)
      margin-bottom 15px

.taskEditRowLabel
  display block
  font-size 16px
  margin-bottom 5px

.taskEditDelete
  background-color #ee5050 
  display block
  border-radius 20px
  height 60px
  color #fff 
  padding 15px
  text-align center
  font-size 18px
  line-height 30px
  +breakpoint(medium)
    padding 20px
    line-height 40px
    font-size 30px 
    height 80px
  &:not(:first-child)
    margin-top 50px
    