*, :before, :after
  box-sizing border-box
  margin 0
  padding 0
  

mark
  background transparent
  color inherit
  font-weight normal   

input[type=text]
input[type=email]
input[type=password]
input[type=tel]
textarea
  appearance none  

textarea
  resize none
  
button 
  background-color transparent
  border none
  outline none
  cursor pointer
  
input[type=number]::-webkit-inner-spin-button
input[type=number]::-webkit-outer-spin-button 
  -webkit-appearance none
  margin 0
  
input[type=number]  
  -moz-appearance textfield

