html
  height 100%

body
  min-height 100%
  padding 0px 0px
  min-width 320px
  max-width 100%
  overflow-x hidden
  background-color #f7f7f7
  display flex
  align-items stretch
  
:global(#app)
  flex 1 1 auto
  width 100%
  display flex
  align-items stretch 

.wrapper
  min-width 320px
  max-width 760px
  width 100%
  margin 0 auto