*
*:before
*:after
*::placeholder
  font-family 'Merriweather', serif !important

input, textarea
  &::placeholder  
    color $placeholderColor

h1, h2, h3, h4, h5, h6
  margin 0
  font-weight 400 
  font-family 'Merriweather', serif
  // font-family 'Georgia'