@require '../App/styles/general-styles'

.container 
  text-align center
  &:not(:last-child)
    margin-bottom 20px
    +breakpoint(medium)
      margin-bottom 40px

.owner
  width 100%
  color #6b6b6b   
  display block
  margin-bottom 5px
  line-height 1
  font-size 24px
  +breakpoint(medium)
    font-size 28px

.listTitle 
  width 100%
  // font-family 'Georgia'
  height 60px
  padding 10px 0
  text-align center
  background-color transparent
  border none
  outline none  
  font-size 36px
  line-height 40px
  +breakpoint(medium)
    height 80px
    font-size 55px
  