@require '../App/styles/general-styles'

.listWrapper 
  height 80px
  

.carousel 
  background-color #6e76a2
  position fixed
  top 0
  left 50%
  max-width 760px
  transform translate(-50%, 0) 
  right 0
  z-index 50
  display flex
  justify-content space-between
  align-items center
  // max-width 580px
  width 100%
  height 80px
  
  padding 2px 10px
  +breakpoint(medium)
    padding 2px 30px
  
  line-height 50px

  > * 
    flex 0 0 auto
    &:not(:last-child) 
      margin-right 5px
      +breakpoint(medium)
        margin-right 10px


.navItem
  background-position 50% 50%
  background-size cover
  height 24px
  width 16px
  padding 0
  cursor pointer
  background-size cover
  img 
    height 24px
    width 16px
.navPrev
  @extend .navItem

.navNext
  @extend .navItem


.content 
  flex 1 1 100% !important
  justify-content flex-start
  max-width 100%
  overflow hidden
  position relative

  &:before
  &:after 
    display inline-block
    position absolute
    top 0
    width 20px
    height 100%
    content ""
    z-index 2
  &:before 
    background-image linear-gradient(to right, rgba(110,118,162,1) 0%, rgba(110,118,162,0) 100%)
    left 0
  &:after 
    background-image linear-gradient(to left, rgba(110,118,162,1) 0%, rgba(110,118,162,0) 100%)
    right 0


.itemsList 
  position relative
  /* left -10px */
  color #fff
  width 9999px
  white-space nowrap
  display flex
  padding 0 10px
  list-style none
  user-select none
  transition left .3s ease-out
  font-size 14px
  +breakpoint(medium)
    font-size 15px


.singleItem
  cursor pointer
  flex 0 0 auto
  &:not(:last-child) 
    margin-right 15px
  > a 
    color #fff 
    text-decoration none
.singleItemActive
  @extend .singleItem
  font-weight 700


.addItem
  position relative
  border-radius 50%
  background-color #fff
  width 30px
  height 30px
  +breakpoint(medium)
    width 50px
    height 50px
  
  img 
    position absolute
    top 0
    left 0
    width 100%
    height 100%
    z-index 1

  // &:before, img
  //   position absolute
  //   z-index 1
  //   top 50%
  //   left 50%
  //   content ""
  //   display block
  //   transform translate(-50%, -50%)
  // &:before 
  //   background-color #92c37c
  //   border-radius 50%
  //   width 19px
  //   height 19px
  //   +breakpoint(medium)
  //     width 30px
  //     height 30px
  // img
  //   z-index 2
  //   background-size cover
  //   width 15px
  //   height 15px
  //   +breakpoint(medium)
  //     width 20px
  //     height 20px
