@require '../App/styles/general-styles'

.user 
  display flex
  justify-content flex-end
  line-height 1
  white-space nowrap
  text-overflow ellipsis
  max-width 100%
  &:first-child
    margin-top 5px
  // &:not(:last-child)
  //   margin-bottom 5px

.action
  cursor pointer
  display flex
  align-items center 
  flex 0 0 auto
  text-align right
  justify-content flex-end
  align-items center
  > * 
    flex 0 0 auto
    
  
.icon
  color #000
  margin-right 10px
  height 17px
  width 15px
  

.name
  font-size 20px
  +breakpoint(medium)
    font-size 25px
