.container 
  display inline-block

.icon
  display inline-block
  text-align center
  width 30px
  height 30px
  line-height 30px
  margin 0 5px
  border-radius 50px
  border 1px solid #b9b9b9
  background-color #f6f6f6 
  align-items center 
  justify-content center 
  img 
    display inline-block
    vertical-align middle
    width 18px
    max-height 20px
    margin-top -4px

.name {}    