@require 'styles/general-styles'
@require 'styles/global-styles'

.container
  @extend .wrapper
  background-color #fff 
  display flex
  flex-direction column 
  justify-content space-between
  align-items stretch


.listing 
  flex 0 0 auto
  


.body 
  background-color #fff 
  flex 1 1 auto
  padding 10px 0
  +breakpoint(medium)
    padding 20px 0
  > *
    padding-left 10px
    padding-right 10px
    +breakpoint(medium)
      padding-left 30px
      padding-right 30px

.owner
  width 100%
  color #6b6b6b   
  display block
  margin-bottom 5px
  line-height 1
  font-size 24px
  +breakpoint(medium)
    font-size 28px
    

.footer
  margin-top 20px
  flex 0 0 auto  
  background-color #6e76a2
  color #fff 
  text-align center