@require '../App/styles/general-styles'

.container
  width 100%
  margin 40px 0
  text-align center

.title 
  text-align center
  margin-bottom 30px
  font-size 20px

.links 
  text-align center
  display flex
  justify-content center
  align-items flex-start 

.singleLink 
  display inline-block
  text-align center
  
  flex 0 0 auto
  width 30px
  height 30px
  margin 0 5px
  border-radius 50px
  border 1px solid #b9b9b9
  background-color #f6f6f6 
  display flex
  align-items center 
  justify-content center 
  img 
    flex 0 0 auto
    width 18px
    max-height 20px

.sharignWithLink
  font-size 16px
  display flex
  flex-direction column
  align-items center
  margin-bottom 20px
  padding 0 20px
  &:not(:first-child)
    margin-top 20px
  > * 
    flex 0 0 auto
    &:not(:last-child)
      margin-bottom 20px
  a 
    line-height 1.3
    color inherit 
  p {}
  input 
    max-width 300px
    height 30px
    padding 5px 20px
    line-height 20px
    font-size 16px
    +breakpoint(medium)
      height 50px
      font-size 20px
      line-height 30px
      padding 10px 20px
